Flask
Werkzeug
Flask-SQLAlchemy
Flask-Migrate
SQLAlchemy
psycopg2-binary
Flask-Login
Flask-WTF
itsdangerous
email-validator
Flask-Cors
Flask-RESTful
marshmallow
marshmallow-sqlalchemy
Flask-Mail
Flask-Caching
redis
python-dotenv
gunicorn
whitenoise
pytest
pytest-cov
black
flake8